  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
*{
    margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
nav{
    width: 100%;
    position: sticky !important;
    left: 0;
    top: 0;
    box-shadow: 0px 5px 8px rgba(0,0,0,.5);
    z-index: 10;
}
.navbar-brand{font-weight:600;}
.nav-link{
    

    color:white !important;
    border-bottom: 1px solid transparent;
}
.nav-link:hover{
    border-bottom: 1px solid white;
}
}
section{
    width: 100%;

    min-height: 100vh;
}

/* Home section */
#home {width: 100%;
height: 100vh;
background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.6)),url(bg.jpeg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
display: flex;
align-items: center;
column:white;
flex-direction: column;
}


#home p{
    position: absolute;
    top: 25%;
    font-size: 100px;
    opacity: 0;
    animation: text 3s ease-in-out;
}

#home p:nth-child(1){
    animation-delay: 0s;
}
#home p:nth-child(2){
    animation-delay: 3s;
}
#home p:nth-child(3){
    animation-delay: 6s;
}
#home p:nth-child(4){
    animation-delay: 9s;
}

@keyframes text{
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }

}

#home span{
    color: yellow;
}

@media screen and(max-width:576px) {

    
    #home p{
        font-size: 80px;}
}

/*about section*/

#About{
    padding-top: 20%;
    padding-bottom: 20%;
    margin-top: 6%;
    margin-bottom: 6%;
    display: flex;
    justify-content: center;
    align align-items: center;
    background: linear-gradient(skyblue,violet);
}
.circle{
   
    width: 400px;
    height: 400px;
    background: linear-gradient(75deg,skyblue,violet);
    border-radius: 50%;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, .8);
    margin-bottom: 3%S;
    transition: 2s;
}
.circle img{
   position: absolute;
    height: 250px;
    top: 165%;
    left: 44%;
    border-radius: 10%;
    filter: drop-shadow(0px 30px 15px rgba(0,0,0,.5));
    transition: 2s;
    
}
.circle:hover{
    width:700px;
    height: 500px;
    border-radius: 15px;
    transition: 2s;

}

.circle:hover .content{
  margin-top: 45%;
  padding: 3%;
    left: 33%;
color: black;
    transition: 1s;
    opacity: 1;
}

.circle .content{
    margin-top: 45%;

    opacity: 0;
}
@media screen and (max-width:576px) {
    
.circle{
   
    width: 400px;
    height: 400px;
    background: linear-gradient(75deg,skyblue,violet);
    border-radius: 50%;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, .8);
    margin-bottom: 3%S;
    transition: 1s;
}
.circle img{
   position: absolute;
    height: 250px;
    top: 125%;
    left: 25%;
    border-radius: 10%;
    filter: drop-shadow(0px 30px 15px rgba(0,0,0,.5));
    transition: 2s;
    
}
.circle:hover{
    width:400px;
    height: 567Px;
    border-radius: 15px;
    transition: 2s;

}

.circle:hover .content{
  margin-top: 80%;
  padding: 3%;
    left: 33%;
 color: black;
    transition: 1s;
    opacity: 2;
}

.circle .content{
    margin-top: 45%;

    opacity: 0;
}
}


/*Skills Section*/

#Skills{
   padding-top: 20%;
   padding-bottom: 20%;
   background: linear-gradient(skyblue,violet);
    }
    #skills .container{
    margin-top: 6%;
    margin-bottom: 6%;
}

label{
    font-size: 20px;
}

.progress{
    height: 30px !important;
    box-shadow: 2px 4px 5px rgb(0, 0, 0),-2px 5px rgb(0, 0, 0);
}


.progress:hover{
    box-shadow: 2px 4px 5px rgb(156, 180, 214),-2px 5px rgb(238, 168, 168);
}


/*project section*/


#Projects{
display: flex;
justify-content: center;
align-items: center;
margin-top: 6%;
padding: 10%;
background: linear-gradient(75deg,skyblue,violet);

}.carousel{
width: 80%;
height: 80vh;
box-shadow: 10px 20px 10px rgba(0, 0, 0, .8) ;

}
iframe{
    width: 100%;
    height: 80vh;
}

@media screen and (max-width:576px){

    .carousel{
width: 100%;
height: 50vh;
box-shadow: 10px 20px 10px rgba(0, 0, 0, .8) ;
background: linear-gradient(skyblue,violet);
    }


iframe{
    width: 100%;
    height: 50vh;
}
}



/*pricing section*/
#Pricing{
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 6%;
    margin-bottom: 6%;
    background: linear-gradient(skyblue,violet);
}

.card{
    margin-top: 15%;
}

.card:hover{
    box-shadow: 8px 8px 15px rgba(0, 0, 0, .8);
    transition: 1s;
}


/*contact sectin*/

#contact{
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 6%;
    margin-bottom: 6%;
    background: linear-gradient(skyblue,violet);

}
